# External Lab

# Part-1

## About the dataset

This is perhaps the best known database to be found in the pattern recognition literature. The data set contains 3 classes of 50 instances each, where each class refers to a type of iris plant.  One class is linearly separable from the other 2; the latter are NOT linearly separable from each other.

Attribute Information:
   1. sepal length in cm
   2. sepal width in cm
   3. petal length in cm
   4. petal width in cm
   5. class: 
      -- Iris Setosa
      -- Iris Versicolour
      -- Iris Virginica

### Read the dataset and store it in the dataframe named Iris

In [3]:
import pandas as pd

Iris = pd.read_csv("Iris.csv")

Iris.head()

,Sepal Length (in cm),Sepal Width in (cm),Petal length (in cm),Petal width (in cm),Class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

### Find out the datatypes of each and every column

In [4]:
Iris.dtypes

Sepal Length (in cm)    float64
Sepal Width in (cm)     float64
Petal length (in cm)    float64
Petal width (in cm)     float64
Class                    object
dtype: object

### Print top 10 & bottom 10 samples from the dataframe

In [6]:
Iris.head(10)

Iris.tail(10)

,Sepal Length (in cm),Sepal Width in (cm),Petal length (in cm),Petal width (in cm),Class
140,6.7,3.1,5.6,2.4,Iris-virginica
141,6.9,3.1,5.1,2.3,Iris-virginica
142,5.8,2.7,5.1,1.9,Iris-virginica
143,6.8,3.2,5.9,2.3,Iris-virginica
144,6.7,3.3,5.7,2.5,Iris-virginica
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

### Find the shape of the dataset

In [10]:
Iris.shape

(150, 5)

### Set the index of the dataframe to be the first column

In [28]:
Iris.head()
Iris.set_index('Sepal Length (in cm)')

KeyError: 'Sepal Length (in cm)'

In [27]:
Iris.head()

,Sepal Width in (cm),Petal length (in cm),Petal width (in cm),Class
Sepal Length (in cm),,,,
5.1,3.5,1.4,0.2,Iris-setosa
4.9,3.0,1.4,0.2,Iris-setosa
4.7,3.2,1.3,0.2,Iris-setosa
4.6,3.1,1.5,0.2,Iris-setosa
5.0,3.6,1.4,0.2,Iris-setosa

### Use iloc function to print all the rows of the 3rd column

In [33]:
Iris.iloc[:,2]

Sepal Length (in cm)
5.1    0.2
4.9    0.2
4.7    0.2
4.6    0.2
5.0    0.2
5.4    0.4
4.6    0.3
5.0    0.2
4.4    0.2
4.9    0.1
5.4    0.2
4.8    0.2
4.8    0.1
4.3    0.1
5.8    0.2
5.7    0.4
5.4    0.4
5.1    0.3
5.7    0.3
5.1    0.3
5.4    0.2
5.1    0.4
4.6    0.2
5.1    0.5
4.8    0.2
5.0    0.2
5.0    0.4
5.2    0.2
5.2    0.2
4.7    0.2
      ...
6.9    2.3
5.6    2.0
7.7    2.0
6.3    1.8
6.7    2.1
7.2    1.8
6.2    1.8
6.1    1.8
6.4    2.1
7.2    1.6
7.4    1.9
7.9    2.0
6.4    2.2
6.3    1.5
6.1    1.4
7.7    2.3
6.3    2.4
6.4    1.8
6.0    1.8
6.9    2.1
6.7    2.4
6.9    2.3
5.8    1.9
6.8    2.3
6.7    2.5
6.7    2.3
6.3    1.9
6.5    2.0
6.2    2.3
5.9    1.8
Name: Petal width (in cm), Length: 150, dtype: float64

### Slicing
Print only the Sepal width and Sepal Length for first 10 rows

In [38]:
Iris.iloc[0:10, [0]]

                      Sepal Width in (cm)
Sepal Length (in cm)
5.1                                   3.5
4.9                                   3.0
4.7                                   3.2
4.6                                   3.1
5.0                                   3.6
5.4                                   3.9
4.6                                   3.4
5.0                                   3.4
4.4                                   2.9
4.9                                   3.1

### Using Logical statements for indexing
Print all the columns of row which has class name "Iris-setosa"

In [43]:
Iris.loc[Iris['Class'] == 'Iris-setosa']

,Sepal Width in (cm),Petal length (in cm),Petal width (in cm),Class
Sepal Length (in cm),,,,
5.1,3.5,1.4,0.2,Iris-setosa
4.9,3.0,1.4,0.2,Iris-setosa
4.7,3.2,1.3,0.2,Iris-setosa
4.6,3.1,1.5,0.2,Iris-setosa
5.0,3.6,1.4,0.2,Iris-setosa
5.4,3.9,1.7,0.4,Iris-setosa
4.6,3.4,1.4,0.3,Iris-setosa
5.0,3.4,1.5,0.2,Iris-setosa
4.4,2.9,1.4,0.2,Iris-setosa
4.9,3.1,1.5,0.1,Iris-setosa
5.4,3.7,1.5,0.2,Iris-setosa
4.8,3.4,1.6,0.2,Iris-setosa
4.8,3.0,1.4,0.1,Iris-setosa
4.3,3.0,1.1,0.1,Iris-setosa
5.8,4.0,1.2,0.2,Iris-setosa
5.7,4.4,1.5,0.4,Iris-setosa
5.4,3.9,1.3,0.4,Iris-setosa
5.1,3.5,1.4,0.3,Iris-setosa
5.7,3.8,1.7,0.3,Iris-setosa
5.1,3.8,1.5,0.3,Iris-setosa
5.4,3.4,1.7,0.2,Iris-setosa
5.1,3.7,1.5,0.4,Iris-setosa
4.6,3.6,1.0,0.2,Iris-setosa
5.1,3.3,1.7,0.5,Iris-setosa
4.8,3.4,1.9,0.2,Iris-setosa
5.0,3.0,1.6,0.2,Iris-setosa
5.0,3.4,1.6,0.4,Iris-setosa
5.2,3.5,1.5,0.2,Iris-setosa
5.2,3.4,1.4,0.2,Iris-setosa
4.7,3.2,1.6,0.2,Iris-setosa
4.8,3.1,1.6,0.2,Iris-setosa
5.4,3.4,1.5,0.4,Iris-setosa
5.2,4.1,1.5,0.1,Iris-setosa
5.5,4.2,1.4,0.2,Iris-setosa
4.9,3.1,1.5,0.1,Iris-setosa
5.0,3.2,1.2,0.2,Iris-setosa
5.5,3.5,1.3,0.2,Iris-setosa
4.9,3.1,1.5,0.1,Iris-setosa
4.4,3.0,1.3,0.2,Iris-setosa
5.1,3.4,1.5,0.2,Iris-setosa
5.0,3.5,1.3,0.3,Iris-setosa
4.5,2.3,1.3,0.3,Iris-setosa
4.4,3.2,1.3,0.2,Iris-setosa
5.0,3.5,1.6,0.6,Iris-setosa
5.1,3.8,1.9,0.4,Iris-setosa
4.8,3.0,1.4,0.3,Iris-setosa
5.1,3.8,1.6,0.2,Iris-setosa
4.6,3.2,1.4,0.2,Iris-setosa
5.3,3.7,1.5,0.2,Iris-setosa
5.0,3.3,1.4,0.2,Iris-setosa

### Multiply Sepal Length and width and store it under the column name "SepalExtra" in the same Iris dataframe

In [4]:
iris = pd.read_csv("Iris.csv")

iris.rename(columns={'Sepal Length (in cm)':'sepalL',
                     'Sepal Width in (cm)':'sepalW',
                     'Petal length (in cm)':'petalL',
                     'Petal width (in cm)':'PetalW'}, 
                 inplace=True)

sepalE = iris.sepalL * iris.sepalW

iris['SepalExtra'] = sepalE

iris.head()

   sepalL  sepalW  petalL  PetalW        Class  SepalExtra
0     5.1     3.5     1.4     0.2  Iris-setosa       17.85
1     4.9     3.0     1.4     0.2  Iris-setosa       14.70
2     4.7     3.2     1.3     0.2  Iris-setosa       15.04
3     4.6     3.1     1.5     0.2  Iris-setosa       14.26
4     5.0     3.6     1.4     0.2  Iris-setosa       18.00

### Find out the mean and variance for each column but for class column

In [10]:
iris.mean(axis=0)

iris.var()

sepalL         0.685694
sepalW         0.188004
petalL         3.113179
PetalW         0.582414
SepalExtra    11.348090
dtype: float64

### Write a function that accepts two numbers as input and prints them - Pass the Sepal length and sepal width of 5th row and print the output

In [16]:
def my_print(x, y):
    print('the numbers are', x ,'and', y)

my_print(iris.iloc[5,0], iris.iloc[5,1])

the numbers are 5.4 and 3.9

### Find the range of all the columns in the dataset

*Range = Max value - Min value (in the column)*

In [23]:
print(iris['sepalL'].max() - iris['sepalL'].min())
print(iris['sepalW'].max() - iris['sepalW'].min())
print(iris['petalL'].max() - iris['petalL'].min())
print(iris['PetalW'].max() - iris['PetalW'].min())

3.6000000000000005
2.4000000000000004
5.9
2.4

### Sort the entire dataset according to the column Petal width

In [28]:
iris.sort_values("PetalW", axis = 0, ascending = True, 
                 inplace = True)
iris.head(10)

    sepalL  sepalW  petalL  PetalW        Class  SepalExtra
32     5.2     4.1     1.5     0.1  Iris-setosa       21.32
13     4.3     3.0     1.1     0.1  Iris-setosa       12.90
37     4.9     3.1     1.5     0.1  Iris-setosa       15.19
9      4.9     3.1     1.5     0.1  Iris-setosa       15.19
12     4.8     3.0     1.4     0.1  Iris-setosa       14.40
34     4.9     3.1     1.5     0.1  Iris-setosa       15.19
0      5.1     3.5     1.4     0.2  Iris-setosa       17.85
27     5.2     3.5     1.5     0.2  Iris-setosa       18.20
47     4.6     3.2     1.4     0.2  Iris-setosa       14.72
29     4.7     3.2     1.6     0.2  Iris-setosa       15.04

### Remove the new column "SepalExtra" from the dataframe

In [40]:
iris = iris.drop(['SepalExtra'], axis=1)

iris.head(5)

    sepalL  sepalW  petalL  PetalW        Class
32     5.2     4.1     1.5     0.1  Iris-setosa
13     4.3     3.0     1.1     0.1  Iris-setosa
37     4.9     3.1     1.5     0.1  Iris-setosa
9      4.9     3.1     1.5     0.1  Iris-setosa
12     4.8     3.0     1.4     0.1  Iris-setosa

### Take only the top 10 rows of the dataset with only first 3 columns and store it in a dataframe named "IrisSubset"

In [45]:
IrisSubset = iris.iloc[0:10,0:3]
IrisSubset.head(15)

    sepalL  sepalW  petalL
32     5.2     4.1     1.5
13     4.3     3.0     1.1
37     4.9     3.1     1.5
9      4.9     3.1     1.5
12     4.8     3.0     1.4
34     4.9     3.1     1.5
0      5.1     3.5     1.4
27     5.2     3.5     1.5
47     4.6     3.2     1.4
29     4.7     3.2     1.6

# Part-2

## The dataset HR contains information collected from the survey floated by a HR within the company.


As a part of this lab, you are expected to answer the below questions

### Import numpy and Pandas

In [48]:
import numpy as np
import pandas as pd

### Import the dataset (Note: The dataset is in .txt format) - Make sure to use delimiters

In [52]:
df = pd.read_csv('HR_external.txt', delimiter='\t')
df.head(10)

,Individual,Attrition,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,Ind1,Yes,41,1,1102,1,1,2,1,1,...,1,80,0,8,0,1,6,4,0,5
1,Ind2,No,49,2,279,2,8,1,1,1,...,4,80,1,10,3,3,10,7,1,7
2,Ind3,Yes,37,1,1373,2,2,2,6,1,...,2,80,0,7,3,3,0,0,0,0
3,Ind4,No,33,2,1392,2,3,4,1,1,...,3,80,0,8,3,3,8,7,3,0
4,Ind5,No,27,1,591,2,2,1,2,1,...,4,80,1,6,3,3,2,2,2,2
5,Ind6,No,32,2,1005,2,2,2,1,1,...,3,80,0,8,2,2,7,7,3,6
6,Ind7,No,59,1,1324,2,3,3,2,1,...,1,80,3,12,3,2,1,0,0,0
7,Ind8,No,30,1,1358,2,24,1,1,1,...,2,80,1,1,2,3,1,0,0,0
8,Ind9,No,38,2,216,2,23,3,1,1,...,2,80,0,10,2,3,9,7,1,8
9,Ind10,No,36,1,1299,2,27,3,2,1,...,2,80,2,17,3,2,7,7,7,7

### Print the no of rows and columns in the dataset

In [54]:
df.shape

(1470, 35)

### Find out the type of each and every column in the dataset

In [55]:
df.dtypes

Individual                  object
Attrition                   object
Age                          int64
BusinessTravel               int64
DailyRate                    int64
Department                   int64
DistanceFromHome             int64
Education                    int64
EducationField               int64
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                       int64
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                      int64
JobSatisfaction              int64
MaritalStatus                int64
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
OverTime                     int64
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

### Print out all the rows from 3rd column to 10th columns

In [57]:
df.iloc[:,3:10]

,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount
0,1,1102,1,1,2,1,1
1,2,279,2,8,1,1,1
2,1,1373,2,2,2,6,1
3,2,1392,2,3,4,1,1
4,1,591,2,2,1,2,1
5,2,1005,2,2,2,1,1
6,1,1324,2,3,3,2,1
7,1,1358,2,24,1,1,1
8,2,216,2,23,3,1,1
9,1,1299,2,27,3,2,1
10,1,809,2,16,3,2,1
11,1,153,2,15,2,1,1
12,1,670,2,26,1,1,1
13,1,1346,2,19,2,2,1
14,1,103,2,24,3,1,1
15,1,1389,2,21,4,1,1
16,1,334,2,5,2,1,1
17,3,1123,2,16,2,2,1
18,1,1219,1,2,4,1,1
19,1,371,2,2,3,1,1
20,3,673,2,11,2,6,1
21,1,1218,1,9,4,1,1
22,1,419,2,7,4,1,1
23,1,391,2,15,2,1,1
24,1,699,2,6,1,2,1
25,1,1282,2,5,3,6,1
26,2,1125,2,16,1,1,1
27,1,691,1,8,4,3,1
28,1,477,2,7,4,2,1
29,1,705,1,2,4,3,1
...,...,...,...,...,...,...,...
1440,2,688,2,4,2,1,1
1441,3,667,2,1,4,1,1
1442,1,1092,2,1,4,2,1
1443,1,300,2,2,3,1,1
1444,1,310,2,7,2,4,1
1445,1,582,2,28,4,1,1
1446,1,704,1,28,3,3,1
1447,3,301,1,15,4,3,1
1448,1,930,1,3,3,1,1
1449,1,529,2,2,3,4,1
1450,1,1146,3,26,4,1,1
1451,1,345,1,10,2,1,1
1452,2,878,1,1,4,1,1
1453,1,1120,1,11,4,3,1
1454,1,374,1,20,3,1,1
1455,1,1322,2,2,4,1,1
1456,2,1199,2,18,4,1,1
1457,1,1194,2,2,4,2,1
1458,1,287,2,1,4,1,1
1459,1,1378,2,13,2,6,1
1460,1,468,2,28,4,2,1
1461,1,410,1,28,3,3,1
1462,1,722,1,24,1,3,1
1463,3,325,2,5,3,2,1
1464,1,1167,1,5,3,6,1
1465,2,884,2,23,2,2,1
1466,1,613,2,6,1,2,1
1467,1,155,2,4,3,1,1
1468,2,1023,1,2,3,2,1
1469,1,628,2,8,3,2,1

### Find out the no of male & female employees in the company

*Hint: Use can use a condition to find out the no of 1s and 0s in gender and sum it*

In [67]:
df[df["Gender"]=="1"]

Empty DataFrame
Columns: [Individual , Attrition, Age, BusinessTravel, DailyRate, Department, DistanceFromHome, Education, EducationField, EmployeeCount, EmployeeNumber, EnvironmentSatisfaction, Gender, HourlyRate, JobInvolvement, JobLevel, JobRole, JobSatisfaction, MaritalStatus, MonthlyIncome, MonthlyRate, NumCompaniesWorked, OverTime, PercentSalaryHike, PerformanceRating, RelationshipSatisfaction, StandardHours, StockOptionLevel, TotalWorkingYears, TrainingTimesLastYear, WorkLifeBalance, YearsAtCompany, YearsInCurrentRole, YearsSinceLastPromotion, YearsWithCurrManager]
Index: []

[0 rows x 35 columns]

### Find out the IQR for the column - Age 

*Hint: IQR - Interquartile range = 75th percentile - 25th percentile*

### Find out the mean, median and variance for the column - DailyRate

### Plot the attrition column (Since it is a categorical variable, chose the plot accordingly)

### Plot Total working years using matplotlib plot function